{% extends 'layout.html' %}
{% block body %}


<div class="main-content">
    <div class="main-header text-center">
        <h1>{{data[0]}}</h1>
    </div>
    <div class="header-image">
        <img src="/static/images/{{data[2]}}" alt="" style="height: 500px;">
    </div>
    <div class="">
        <h1 class="link_header text-center">
            
        </h1>
        <div class="link-page-wrapper">
            <h3 class="block-header">
                {{data[1]}}
            </h3>
        </div>
    </div>
</div>

{% endblock %}
